// Normalize.css
//@import '~normalize.css/normalize.css';
//Bootrstrap
@import '~bootstrap/scss/bootstrap.scss';

// Sweetalert2
@import '~sweetalert2/src/sweetalert2.scss';

.img-clicked {
	border : 5px solid #18a689;
}

.article-photos {
	height : 45rem;
	overflow-y: auto;
}
.tooltip {
	opacity: 100;
	position: absolute;
	top:0;
	left:0;
}
.tooltip-inner {
	font-weight: 900;
}
[v-cloak] { display: none; }

@media (max-width: 480px) {
  #account-dropdown-2 {
    right:0
  }
}